.container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.list {
    width: 30%;
    margin-top: 20px;
}

.container h1 {
    margin: 20px 0 10px;
    font-size: 64px;
}

.container input {
    width: 30%;
    height: 45px;
    margin: 20px 0 10px;
    
    padding: 0 20px;
    border: none;
    border-radius: 10px;
    background-color: #E3E3E3;
    font-size: 16px;
}

.container button{
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    padding: 24px;
    margin: 20px 0 10px;

    color: #FFFFFF;
    border: none;
    border-radius: 10px;
    background-color: palevioletred;
    cursor: pointer;
    transition: filter 0.2s;
}

.container button:hover{
    filter: brightness(0.9);
}
